spring:
  application:
    name: "Snowflake ID Generator"

snowflake-settings:
  starting-epoch: 946684800
  datacenter-id: ${KUBERNETES_SERVICE_HOST:""}
  worked-id: ${HOSTNAME:""}

logging:
  file:
    name: ./logs/application.log
  level:
    root: INFO
    org.springframework: WARN
    com.radmiy.snowflakegenerator: DEBUG
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

management:
  endpoints:
    web:
      base-path: /management
      path-mapping:
        health: health
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
